<h1>Все наши категории</h1>
<% @post.each do |post| %>
    <div class="alert alert-light">
      <h2>Название категории: </h2>
      <h3><%= post.title %></h3>
      <h3>Описание категории:</h3>
      <p3><%= post.text %></p3>
        </div>
<% end %>